[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd
EnvironmentFile=-/etc/etcd/etcd.conf
User=etcd
ExecStart=/usr/sbin/etcd
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target